<template>
  <section>
    <b-tabs
      v-model="activeTab"
      position="is-centered">
      <b-tab-item
        class="container"
        label="Components">
        <h1 class="title">Hello, {{ name }}</h1>
        <b-field>
          <b-checkbox>Checkbox</b-checkbox>
        </b-field>

        <b-field>
          <b-switch>Default</b-switch>
        </b-field>

        <b-field label="Name">
          <b-input placeholder="John Silver" />
        </b-field>

        <div class="block">
          <b-icon icon="person" />
          <b-icon icon="home" />
          <b-icon icon="dashboard" />
        </div>

        <b-message
          title="Danger with icon"
          type="is-danger"
          has-icon>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id fermentum quam. Proin sagittis, nibh id hendrerit imperdiet, elit sapien laoreet elit
        </b-message>

        <b-field>
          <b-dropdown>
            <button
              slot="trigger"
              class="button">
              <span>Filters</span>
              <b-icon icon="arrow_drop_down" />
            </button>

            <b-dropdown-item>
              value="open_issues">Open Issues and Pull Requests</b-dropdown-item>
            <b-dropdown-item>
              value="your_issues">Your Issues</b-dropdown-item>
            <b-dropdown-item>
              value="pull_requests">Your Pull Requests</b-dropdown-item>
            <b-dropdown-item>
              value="everything">Everything</b-dropdown-item>
          </b-dropdown>

          <b-input
            icon="search"
            type="search"
            placeholder="Search..." />
        </b-field>

        <b-field>
          <b-select placeholder="Currency">
            <option>$</option>
            <option>£</option>
            <option>€</option>
          </b-select>
          <b-input
            type="number"
            placeholder="0,00" />
          <p class="control">
            <button class="button is-success">Transfer</button>
          </p>
        </b-field>

        <div class="block">
          <b-switch v-model="showBooks"> Show Books item </b-switch>
        </div>

        <div class="block">
          <button
            class="button"
            @click="activeTab = 1">
            Go to Music
          </button>
        </div>
      </b-tab-item>

      <b-tab-item
        class="container"
        label="Music">
        Lorem <br>
        ipsum <br>
        dolor <br>
        sit <br>
        amet.
      </b-tab-item>

      <b-tab-item
        :visible="showBooks"
        class="container"
        label="Books">
        What light is light, if Silvia be not seen? <br>
        What joy is joy, if Silvia be not by— <br>
        Unless it be to think that she is by <br>
        And feed upon the shadow of perfection? <br>
        Except I be by Silvia in the night, <br>
        There is no music in the nightingale.
      </b-tab-item>

      <b-tab-item
        class="container"
        label="Videos"
        disabled>
        Nunc nec velit nec libero vestibulum eleifend.
        Curabitur pulvinar congue luctus.
        Nullam hendrerit iaculis augue vitae ornare.
        Maecenas vehicula pulvinar tellus, id sodales felis lobortis eget.
      </b-tab-item>
    </b-tabs>
  </section>
</template>

<script>

export default {
  props: {
    name: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      activeTab: 0,
      showBooks: false
    }
  }
}

</script>

<!-- Component styles -->
<style lang="scss" scoped>
h1 {
  color: red;
}
</style>
