<template>
  <section class="hero is-medium is-primary is-bold">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <top-nav />
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Primary bold {{ title }}
        </h1>
        <h2 class="subtitle">
          Primary bold subtitle
        </h2>
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="is-active">
              <a>Overview</a>
            </li>
            <li>
              <a>Modifiers</a>
            </li>
            <li>
              <a>Grid</a>
            </li>
            <li>
              <a>Elements</a>
            </li>
            <li>
              <a>Layout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</template>

<script>
import TopNav from './topnav.vue'

export default {
  components: {
    TopNav
  },
  props: {
    title: {
      type: String,
      required: true
    }
  }
}

</script>

<!-- Component styles -->
<style lang="scss" scoped>
h1 {
  color: blue;
}
</style>
