<template>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a
          class="navbar-item"
          href="https://bulma.io">
          <img
            src="/img/temp-logo.png"
            alt="Elvie's vue-webpack app"
            width="70"
            height="28">
        </a>
        <a
          :class="{'is-active': navIsActive}"
          class="navbar-burger burger"
          data-target="navbarMenuHeroB"
          @click="toggleMenu">
          <span />
          <span />
          <span />
        </a>
      </div>

      <div
        id="navbarMenuHeroB"
        :class="{'is-active': navIsActive}"
        class="navbar-menu">
        <div class="navbar-end">
          <a
            class="navbar-item is-active"
            href="#">
            Home
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a
              class="navbar-link"
              href="#">
              Docs
            </a>
            <div class="navbar-dropdown is-boxed">
              <a
                class="dropdown-item"
                href="#">
                Overview
              </a>
              <hr class="navbar-divider">
              <a
                class="dropdown-item"
                href="#">
                Modifiers
              </a>
              <a
                class="dropdown-item"
                href="#">
                Grid
              </a>
              <a
                class="dropdown-item"
                href="#">
                Elements
              </a>
              <a
                class="dropdown-item"
                href="#">
                Layout
              </a>
            </div>
          </div>
          <a
            class="navbar-item"
            href="#">
            Examples
          </a>
          <span class="navbar-item">
            <a class="button is-info is-inverted">
              <span class="icon">
                <i class="fab fa-github" />
              </span>
              <span>Download</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>

export default {
  name: 'NavBar',
  props: {
    name: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      navIsActive: false
    }
  },
  methods: {
    toggleMenu: function () {
      this.navIsActive = !this.navIsActive
    }
  }
}

</script>

<!--<style lang="scss" scoped>
.navbar {
  background-color: #efefef;
}
</style> -->
