<template>
  <div>
    <masthead title="HEADER" />
    <main-content name="Elvie" />
  </div>
</template>

<script>
import Masthead from './components/Masthead.vue'
import MainContent from './components/MainContent.vue'

import '../src/assets/custom-buefy.scss'
import '../src/assets/app.scss'

export default {
  components: {
    Masthead,
    MainContent
  }
}
</script>
